# WARNING: this deployment example is currently in beta. It is not suited for production.
# Basic values.yaml for Kong for Kubernetes with Kong Enterprise (DB-less)
# Several settings (search for the string "CHANGEME") require user-provided
# Secrets. These Secrets must be created before installation.

image:
  repository: kong-docker-kong-enterprise-edition-docker.bintray.io/kong-enterprise-edition
  tag: 2.1.0.0-beta1-alpine

  pullSecrets:
    # CHANGEME: https://github.com/Kong/charts/blob/master/charts/kong/README.md#kong-enterprise-docker-registry-access
    - kong-enterprise-edition-docker

enterprise:
  enabled: true
  # CHANGEME: https://github.com/Kong/charts/blob/master/charts/kong/README.md#kong-enterprise-license
  license_secret: kong-enterprise-license
  vitals:
    enabled: false
  portal:
    enabled: false
  rbac:
    enabled: false


env:
  database: "off"

ingressController:
  enabled: true
  installCRDs: false

proxy:
  # Enable creating a Kubernetes service for the proxy
  enabled: true
  type: NodePort
