controller:
  ingressController:
    konnect:
      enabled: true
      controlPlaneID: "dd74208f-7eff-47d0-a286-ba6df3db278b"
      tlsClientSecretName: konnect-client-tls
      apiHostname: "us.kic.api.konghq.com"

gateway:
  image:
    name: kong/kong-gateway
  env:
    konnect_mode: "on"
    vitals: "off"
    cluster_mtls: pki
    cluster_telemetry_endpoint: "8c9700866b.us.tp0.konghq.com:443"
    cluster_telemetry_server_name: "8c9700866b.us.tp0.konghq.com"
    cluster_cert: /etc/secrets/konnect-client-tls/tls.crt
    cluster_cert_key: /etc/secrets/konnect-client-tls/tls.key
    lua_ssl_trusted_certificate: system

  secretVolumes:
    - konnect-client-tls
