apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "kong.metaLabels" . | nindent 4 }}
    app.kubernetes.io/component: ko
  name: {{ template "kong.deploymentname" . }}
  namespace:  {{ template "kong.namespace" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- if .Values.selectorLabels }}
      {{- toYaml .Values.selectorLabels | nindent 6}}
      {{- else }}
      {{- include "kong.selectorLabels" . | nindent 6 }}
      {{- end }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- with .Values.podAnnotations }}
        {{- include "kong.renderTpl" (dict "value" . "context" $) | nindent 8 }}
        {{- end }}
      labels:
        control-plane: controller-manager
        {{- include "kong.metaLabels" . | nindent 8 }}
        app.kubernetes.io/component: ko
        app: {{ template "kong.fullname" . }}
        version: {{ .Chart.AppVersion | quote }}
        {{- if .Values.podLabels }}
        {{ include "kong.renderTpl" (dict "value" .Values.podLabels "context" $) | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.tolerations }}
      tolerations:
      {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- range $idx, $pullSecretName := . }}
        - name: {{ $pullSecretName }}
        {{- end }}
      {{- end }}
      containers:
      - name: manager
        {{ with .Values.args -}}
        args:
        {{ range $val := . -}}
        - {{ $val }}
        {{ end }}
        {{- end -}}
        env:
        {{- include "kong.env" . | indent 8 }}
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop:
            - ALL
        ports:
        - containerPort: 8081
          name: probe
          protocol: TCP
        - containerPort: 8080
          name: metrics
          protocol: TCP
{{- if .Values.global.webhooks.conversion.enabled }}
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
{{- end }}
{{- if .Values.global.webhooks.validating.enabled }}
        - containerPort: 5443
          name: admission
          protocol: TCP
{{- end }}
        volumeMounts:
        {{- include "kong.volumeMounts" . | nindent 8 }}
{{- if (semverCompare "< 1.5.0" (include "kong.effectiveVersion" .)) }}
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: {{ .Values.kubeRBACProxy.image }}:{{ .Values.kubeRBACProxy.tag }}
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: true
        resources:
{{ toYaml .Values.kubeRBACProxy.resources | indent 10 }}
{{- end }}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: {{ template "kong.serviceAccountName" . }}
      terminationGracePeriodSeconds: 10
      volumes:
      {{- include "kong.volumes" . | nindent 6 -}}
