affinity:
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: component
              operator: NotIn
              values:
                - dummy
        topologyKey: kubernetes.io/hostname
livenessProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 1
  periodSeconds: 1
readinessProbe:
  initialDelaySeconds: 1
  periodSeconds: 1
env:
  anonymous_reports: "false"
  no_leader_election: "true"
