{{- define "kong.deployment" -}}
{{- if .daemonset }}
apiVersion: apps/v1
kind: DaemonSet
{{- else }}
apiVersion: apps/v1
kind: Deployment
{{- end }}
metadata:
  name: {{ .pre.deployment.name }}
  namespace:  {{ .pre.deployment.namespace }}
  labels:
    {{- .pre.deployment.labels | nindent 4 }}
    app.kubernetes.io/component: app
  {{- if .annotations }}
  annotations:
  {{- range $key, $value := .annotations }}
    {{ $key }}: {{ include "kong.renderTpl" (dict "value" $value "context" $) | quote }}
  {{- end }}
  {{- end }}
spec:
  {{- if not .autoscaling.enabled }}
  {{- if not .daemonset }}
  replicas: {{ .replicaCount }}
  {{- end }}
  {{- end }}
  selector:
    matchLabels:
{{ .pre.deployment.selectorMatchLabels | nindent 6 -}}
  {{- if .updateStrategy }}
  {{- if .daemonset }}
  updateStrategy:
  {{- else }}
  strategy:
  {{- end }}
{{ toYaml .updateStrategy | indent 4 }}
  {{- end }}
  {{- if .minReadySeconds }}
  minReadySeconds: {{ .minReadySeconds }}
  {{- end }}

  template:
    metadata:
      annotations:
        {{/* # TODO 921 some keys in the pod template end up being from the deployment dict, so probably no separate define 
             # there's no obvious reason to separate them, since there can only be one per Deployment anyway
        */ -}}
        {{- if (and (not .pod.serviceAccount.automountServiceAccountToken) (or .pod.serviceAccount.create .pod.serviceAccount.name)) }}
        {{/* # TODO 921 needs to be passed in as-is. possibly should be made relative, since the generator will attempt to use the same
             # name, but lives in a separate service-account.yaml template, so vov
             # TODO above is complete but keeping the note around for now
        */ -}}
        kuma.io/service-account-token-volume: {{ .pre.deployment.serviceAccountTokenName }}
        {{- end }}
        {{/*  # TODO 921 special to DB-less Kong with static config. I think this can be handled with the .Values.dblessConfig.config only:
              # if you do not want to redeploy on hash change, do not provide a static config. However, this would fire in both controller
              # and proxy calls, so we probably need to have injection for additional Pod (and whatever else) annotations.
        */}}
        {{- if .pre.deployment.dblessChecksum }}
        checksum/dbless.config: {{ .pre.deployment.dblessChecksum }}
        {{- end }}
        {{- if .pod.annotations }}
        {{- range $key, $value := .pod.annotations }}
        {{ $key }}: {{ include "kong.renderTpl" (dict "value" $value "context" $) | quote }}
        {{- end }}
        {{- end }}
      labels:
        {{- .pre.pod.labels | nindent 8 }}
        app.kubernetes.io/component: {{ .pre.pod.component }}
        app: {{ .pre.pod.app }}
        version: {{ .pre.pod.versionLabel | quote }}
        {{- if .pod.labels }}
        {{ include "kong.renderTpl" (dict "value" .pod.labels "context" $) | nindent 8 }}
        {{- end }}
    spec:
      {{- if .pod.hostNetwork }}
      hostNetwork: true
      {{- end }}
      {{- if .pod.priorityClassName }}
      priorityClassName: "{{ .pod.priorityClassName }}"
      {{- end }}
      {{- if or .pod.serviceAccount.create .pod.serviceAccount.name }}
      serviceAccountName: {{ .pre.deployment.serviceAccountName }}
      {{- end }}
      {{- if (and (or .pod.serviceAccount.create .pod.serviceAccount.name) .pod.serviceAccount.automountServiceAccountToken) }}
      automountServiceAccountToken: true
      {{- else }}
      automountServiceAccountToken: false
      {{ end }}
      {{- if .pod.container.image.pullSecrets }}
      # TODO 921 this is out of place, but the rest of .image _does_ live
      # inside the container, so probably just keep it there, rather than
      # separating into .pod.imagePullSecrets
      imagePullSecrets:
      {{- range .pod.container.image.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      # TODO 921 this is Kong-specific and does not rely on any settings in the
      # deployment config, it's just a static-ish initcontainer we inject. it
      # does need Kong's image, security context, resources, env, so probably
      # create a dedicated helper to create the initContainer and then support
      # injecting initContainers in general. .Values stuff left as-is from here
{{/*
      {{- if .Values.deployment.kong.enabled }}
      initContainers:
      - name: clear-stale-pid
        image: {{ include "kong.getRepoTag" .Values.image }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
        {{ toYaml .Values.containerSecurityContext | nindent 10 }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        command:
        - "rm"
        - "-vrf"
        - "$KONG_PREFIX/pids"
        env:
        {{- include "kong.env" . | nindent 8 }}
        volumeMounts:
        {{- include "kong.volumeMounts" . | nindent 8 }}
        {{- if .Values.deployment.initContainers }}
        {{- toYaml .Values.deployment.initContainers | nindent 6 }}
        {{- end }}
        {{- if (and (not (eq .Values.env.database "off")) .Values.waitImage.enabled) }}
        {{- include "kong.wait-for-db" . | nindent 6 }}
        {{- end }}
      {{- end }} # TODO 921 END initContainers clear-stale-pid
*/}}
      {{- if .pod.hostAliases }}
      hostAliases:
        {{- toYaml .pod.hostAliases | nindent 6 }}
      {{- end}}
      {{- if .dnsPolicy }}
      dnsPolicy: {{ .pod.dnsPolicy | quote }}
      {{- end }}
      {{- if .pod.dnsConfig }}
      dnsConfig:
{{ toYaml .pod.dnsConfig | indent 8 }}
      {{- end }}
      containers:
{{ .pre.pod.container | nindent 8 }}
{{- if .pod.sidecarContainers }}
{{- toYaml .pod.sidecarContainers | nindent 8 }}
{{- end }}
    {{- if .pod.affinity }}
      affinity:
{{ toYaml .pod.affinity | indent 8 }}
    {{- end }}
    {{- if .pod.topologySpreadConstraints }}
      topologySpreadConstraints:
{{ toYaml .pod.topologySpreadConstraints | indent 8 }}
    {{- end }}
      securityContext:
      {{- .pod.securityContext | toYaml | nindent 8 }}
    {{- if .pod.nodeSelector }}
      nodeSelector:
{{ toYaml .pod.nodeSelector | indent 8 }}
    {{- end }}
      terminationGracePeriodSeconds: {{ .pod.terminationGracePeriodSeconds }}
    {{- if .pod.tolerations }}
      tolerations:
{{ toYaml .pod.tolerations | indent 8 }}
    {{- end }}
      volumes:
      {{- .pre.deployment.volumes | nindent 8 -}}
      {{- .pre.deployment.userVolumes | nindent 8 -}}

{{- end -}} {{/* end kong.deployment */}}
