# NOTE: The purpose of those values below is to:
# - to speed up, the test
# - to prevent anonymous reports from being sent
readinessProbe:
  initialDelaySeconds: 1
  periodSeconds: 1

env:
  anonymous_reports: "off"

ingressController:
  env:
    anonymous_reports: "false"
  image:
    effectiveSemver: "3.5.0"
  gatewayDiscovery:
    enabled: true
    generateAdminApiService: true
  konnect:
    enabled: true
    controlPlaneID: "aaaa"
    license:
      enabled: true

deployment:
  kong:
    enabled: false
