name: Lint Scripts

on:
  push:
    branches:
    - 'next'
  pull_request:
    branches:
    - 'next'

jobs:
  lint-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: shellcheck scripts
        run: make lint
