name: PR tests

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.0

      - name: Add Bitnami
        run: helm repo add bitnami https://charts.bitnami.com/bitnami

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --check-version-increment=false

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0
        # if: steps.list-changed.outputs.changed == 'true'
        # TODO for some reason, the earlier chart-testing logic is never seeing any changes, though running it locally
        # does show changes. This remains a mystery between a lack of any debug logging, but simply running tests
        # always is fine

      - name: Run chart-testing (install)
        run: ct install --all

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes-version:
        - "1.19.16"
        - "1.20.15"
        - "1.21.14"
        - "1.22.15"
        - "1.23.13"
        - "1.24.7"
        - "1.25.3"
        - "1.26.0"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: setup helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.0

      - name: setup testing environment (kind-cluster)
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
        run: ./scripts/test-env.sh

      - name: run integration tests (integration)
        run: ./scripts/test-run.sh

      - name: run upgrade integration tests (integration-upgrade)
        run: ./scripts/test-upgrade.sh

      - name: cleanup integration tests (cleanup)
        run: ./scripts/test-env.sh cleanup

  golden-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: setup helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.0

      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-codegen-

      - name: Run tests
        run: cd ./charts/kong/ci && go test .
