name: Release Charts

on:
  push:
    branches:
      - main
      - release/*

jobs:
  lint-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chart-name:
          - kong
          - ingress
          - gateway-operator
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com

      - name: Run chart-testing (lint)
        run: ct lint --target-branch main --charts ${{ matrix.chart-name }}
        working-directory: charts

      - name: setup testing environment (kind-cluster)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-env.sh

      - name: run chart-testing (install)
        run: ct install --target-branch main --charts ${{ matrix.chart-name }}
        working-directory: charts
        if: matrix.chart-name == 'kong'

      - name: run integration tests (integration)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-run.sh

      - name: cleanup integration tests (cleanup)
        run: ./scripts/test-env.sh cleanup
  release:
    timeout-minutes: 30
    needs: lint-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # See https://github.com/helm/chart-releaser-action/issues/6
      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
