name: PR tests

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - release/kong-2.x
      - release/kong-3.x
  workflow_dispatch: {}

permissions:
  contents: read

env:
  # Specify this here because these tests rely on ktf to run kind for cluster creation.
  # renovate: datasource=github-releases depName=kubernetes-sigs/kind
  KIND_VERSION: "0.27.0"

jobs:
  ensure-actions-sha-pin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: zgosalvez/github-actions-ensure-sha-pinned-actions@2d6823da4039243036c86d76f503c84e2ded2517 # v3.0.24

  lint:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: jdx/mise-action@c94f0bf9e520b150e34c017db785461f7e71c5fb # v2.2.2
        with:
          install: false

      - name: Run linters
        env:
          MISE_VERBOSE: 1
          MISE_DEBUG: 1
        run: make lint

  lint-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes-version:
          # renovate: datasource=docker depName=kindest/node
          - "1.31.9"
        chart-name:
          - kong
          - ingress
          - gateway-operator
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Add Helm repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.11"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Run chart-testing (lint)
        run: ct lint --target-branch main --check-version-increment=false

      - name: setup testing environment (kind-cluster)
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-env.sh

      - name: Run chart-testing (install)
        run: |
          kubectl create ns kong-test
          ct install --target-branch main --charts charts/${{ matrix.chart-name}} --namespace kong-test
          # No need to delete the ns the cluster is scrapped after the job anyway.

  integration-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      GATEWAY_API_VERSION: v1.0.0
    strategy:
      matrix:
        kic-version:
          - "" # default from the chart
          - "3.3"
        kong-version:
          - "" # default from the chart
        kubernetes-version:
          # renovate: datasource=docker depName=kindest/node
          - "1.28.15"
          # renovate: datasource=docker depName=kindest/node
          - "1.29.14"
          # renovate: datasource=docker depName=kindest/node
          - "1.30.13"
          # renovate: datasource=docker depName=kindest/node
          - "1.31.9"
          # renovate: datasource=docker depName=kindest/node
          - "1.32.5"
        chart-name:
          - kong
          - ingress
          - gateway-operator
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: setup helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: setup testing environment (kind-cluster)
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-env.sh

      - name: run integration tests (integration)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-run.sh

      - name: run upgrade integration tests (integration-upgrade)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
          KONG_VERSION: ${{ matrix.kong-version }}
          KIC_VERSION: ${{ matrix.kic-version }}
        run: ./scripts/test-upgrade.sh

      - name: cleanup integration tests (cleanup)
        run: ./scripts/test-env.sh cleanup

  golden-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: golden-tests
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: setup helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - uses: jdx/mise-action@c94f0bf9e520b150e34c017db785461f7e71c5fb # v2.2.2
        with:
          install: false

      - name: build helm chart dependency
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com
          helm dependency build charts/kong
          helm dependency build charts/ingress
          helm dependency build charts/gateway-operator

      - name: run golden tests
        run: make test.golden

  # Workaround to allow checking the matrix tests as required tests without adding the individual cases
  # Ref: https://github.com/orgs/community/discussions/26822#discussioncomment-3305794
  passed:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - ensure-actions-sha-pin
      - lint
      - lint-test
      - integration-test
      - golden-tests
    if: always()
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: |
          echo "Some jobs failed or were cancelled."
          exit 1
