name: PR tests

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - release/kong-2.x
      - release/kong-3.x
  workflow_dispatch: {}

permissions:
  contents: read

env:
  # Specify this here because these tests rely on ktf to run kind for cluster creation.
  # renovate: datasource=github-releases depName=kubernetes-sigs/kind
  KIND_VERSION: "0.31.0"
  MISE_VERBOSE: 1
  MISE_DEBUG: 1

jobs:
  ensure-actions-sha-pin:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: zgosalvez/github-actions-ensure-sha-pinned-actions@6124774845927d14c601359ab8138699fa5b70c3 # v4.0.1

  matrix_k8s_node_versions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      latest: ${{ steps.set-latest.outputs.latest }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: set-matrix
        run: |
          (
            echo 'matrix<<EOF'
            yq eval -o=json '.' .github/supported_k8s_node_versions.yaml
            echo 'EOF'
          ) >> "${GITHUB_OUTPUT}"
      - id: set-latest
        run: |
          (
            echo 'latest<<EOF'
            yq eval -r -o=json '. | sort | reverse | .[0]' .github/supported_k8s_node_versions.yaml
            echo 'EOF'
          ) >> "${GITHUB_OUTPUT}"

  lint:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          install: false

      - name: Run linters
        run: make lint

  lint-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - matrix_k8s_node_versions
    strategy:
      matrix:
        kubernetes-version:
          - ${{ needs.matrix_k8s_node_versions.outputs.latest }}
        chart-name:
          - kong
          - ingress
          - gateway-operator
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.11"

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Add Helm repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com

      - name: Run chart-testing (lint)
        run: ct lint --target-branch main --check-version-increment=false

      - name: setup testing environment (kind-cluster)
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-env.sh

      - name: Run chart-testing (install)
        run: |
          helm version
          kubectl create ns kong-test
          ct install --target-branch main \
            --helm-extra-args "--wait" \
            --helm-extra-args "--timeout=3m" \
            --charts charts/${{ matrix.chart-name}} \
            --namespace kong-test
          # No need to delete the ns the cluster is scrapped after the job anyway.

  integration-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      GATEWAY_API_VERSION: v1.3.0
    needs:
      - matrix_k8s_node_versions
    strategy:
      matrix:
        kic-version:
          - "" # default from the chart
          - "3.4"
        kong-version:
          - "" # default from the chart
        kubernetes-version: ${{ fromJson(needs.matrix_k8s_node_versions.outputs.matrix) }}
        chart-name:
          - kong
          - ingress
          - gateway-operator
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: setup testing environment (kind-cluster)
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-env.sh

      - name: run integration tests (integration)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
        run: ./scripts/test-run.sh

      - name: run upgrade integration tests (integration-upgrade)
        env:
          CHART_NAME: ${{ matrix.chart-name }}
          KONG_VERSION: ${{ matrix.kong-version }}
          KIC_VERSION: ${{ matrix.kic-version }}
        run: ./scripts/test-upgrade.sh

      - name: cleanup integration tests (cleanup)
        run: ./scripts/test-env.sh cleanup

  golden-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: golden-tests
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: build helm chart dependency
        run: |
          helm version
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kong https://charts.konghq.com
          helm dependency build charts/kong
          helm dependency build charts/ingress
          helm dependency build charts/gateway-operator

      - name: run golden tests
        run: make test.golden

      - name: run golden tests update and check if there are any changes that should be committed
        run: make test.golden.update verify.diff

  # Workaround to allow checking the matrix tests as required tests without adding the individual cases
  # Ref: https://github.com/orgs/community/discussions/26822#discussioncomment-3305794
  passed:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - ensure-actions-sha-pin
      - lint
      - lint-test
      - integration-test
      - golden-tests
    if: always()
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: |
          echo "Some jobs failed or were cancelled."
          exit 1
