name: Sync Kubernetes Configuration CRDs

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version/ref to sync from kubernetes-configuration repository'
        required: true
        type: string

jobs:
  sync-crds:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate kustomization.yaml
        run: |
          mkdir -p /tmp/kubernetes-configuration
          cat > /tmp/kubernetes-configuration/kustomization.yaml << EOF
          apiVersion: kustomize.config.k8s.io/v1beta1
          kind: Kustomization
          resources:
            - https://github.com/kong/kubernetes-configuration/config/crd/gateway-operator?ref=${{ github.event.inputs.version }}
          EOF

      - name: Build CRDs
        run: |
          kustomize build /tmp/kubernetes-configuration > charts/gateway-operator/charts/kubernetes-configuration-crds/crds/kubernetes-configuration-crds.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}
          title: Sync kubernetes-configuration CRDs to ${{ github.event.inputs.version }}
          commit-message: 'chore: update kubernetes-configuration CRDs to ${{ github.event.inputs.version }}'
          committer: Kong's Team k8s bot <team-k8s+github-bot@konghq.com>
          author: Kong's Team k8s bot <team-k8s+github-bot@konghq.com>
          signoff: true
          base: ${{ github.ref_name == '' && 'main' || github.ref_name }}
          branch: chore/auto-update-kubernetes-configuration-crds
          delete-branch: true
          draft: false
          body: This PR updates the kubernetes-configuration CRDs to https://github.com/Kong/kubernetes-configuration/releases/tag/${{ github.event.inputs.version }}
          labels: dependencies
