image:
  repository: docker.io/kong/gateway-operator
  tag: "1.4"
  # Optionally set a semantic version for version-gated features. This can normally
  # be left unset. You only need to set this if your tag is not a semver string,
  # such as when you are using a "next" tag. Set this to the effective semantic
  # version of your tag: for example if using a "nightly" image for an unreleased 1.5.0
  # version, set this to "1.5.0".
  effectiveSemver: ""

# Deprecated: KGO versions 1.5+ do not use kube-rbac-proxy.
# Use --metrics-access-filter flag instead to control access to metrics endpoint.
kubeRBACProxy:
  # Additional pod containers in the controller.
  image: gcr.io/kubebuilder/kube-rbac-proxy
  tag: v0.8.0
  # Use this section to customize the requests and limits of kube-rbac-proxy
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 5m
      memory: 64Mi

 # Override namespace for gateway-operator chart resources. By default, the chart creates resources in the release namespace.
# namespace: kong-system

replicaCount: 1

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: controller-manager

test:
  enabled: false

# This section can be used to configure some extra labels that will be added to each Kubernetes object generated.
extraLabels: {}

# Labels to be added to KGO pods
podLabels: {}

# Install KIC's CRDs
kic-crds:
  enabled: true

# Install Kong's Kubernetes Configuration CRDs (https://github.com/Kong/kubernetes-configuration)
kubernetes-configuration-crds:
  enabled: false

# Install Gateway API standard CRDs
gwapi-standard-crds:
  enabled: true

# Install Gateway API experimental CRDs
gwapi-experimental-crds:
  enabled: false

affinity: {}

tolerations: []

# Customize gateway-operator livenessProbe.
livenessProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 15
  periodSeconds: 20
# Customize gateway-operator readinessProbe.
readinessProbe:
  httpGet:
    path: /readyz
    port: 8081
  initialDelaySeconds: 5
  periodSeconds: 10

# Use this section to customize the requests and limits of gateway-operator
resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 10m
    memory: 128Mi

# Use this section to add environment variables to operator's container
# NOTE: This is mutually exclusive with the args sections.
# When both an env and a corresponding arg are provided, the arg will take precedence.
env: {}
  # # gateway controller
  # enable_controller_gateway: true
  # # controlPlane controller
  # enable_controller_controlplane: true
  # # dataplane controller. mutually exclusive with dataplane bluegreen controller
  # enable_controller_dataplane: true
  # # dataplane bluegreen controller. mutually exclusive with dataplane controller
  # enable_controller_dataplane_bluegreen: true
  # # aigateway controller. (experimental)
  # enable_controller_aigateway: false
  # # konglicense controller. (EE only)
  # enable_controller_konglicense: true
  # # controlplane extensions controller. (EE only)
  # enable_controller_controlplaneextensions: true

# This section is any customer specific environments variables that doesn't require CONTROLLER_ prefix.
# Example as below, uncomment if required and add additional attributes as required.
# customEnv:
#   TZ: "Europe/Berlin"

# Use this section to add extra args to the operator's container.
# NOTE: This is a list of strings, so each arg should be a separate item in the list.
# NOTE: This is mutually exclusive with the env and customEnv sections.
# When both an env and a corresponding arg are provided, the arg will take precedence.
args: []

# Use this section to change the certs-dir emptyDir size
certsDir:
  sizeLimit: 256Mi

# Override the default deployment selector labels. This is useful if you don't want
# to use the defaults or are migrating to this chart and want to use existing labels.
# selectorLabels: []
